[Unit]
Description=GrandUMI 每分钟采集网络状态

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true
Unit=grandumi-network-monitor.service

[Install]
WantedBy=timers.target
